aiogram
aiohttp
aiosignal
altgraph
asgiref
async-timeout
attrs
Babel
beautifulsoup4
bs4
certifi
charset-normalizer
Django
django-grappelli
frozenlist
future
heroku
idna
multidict
Panda3D
panda3d-gltf
panda3d-simplepbr
pefile
Pillow
pip
pygame
pyinstaller
pyinstaller-hooks-contrib
pyperclip
pyTelegramBotAPI
python-dateutil
pytz
pywin32-ctypes
requests
screeninfo
setuptools
sqlparse
tzdata
urllib3
ursina
yarl